<div class="d-flex categBar p-1">
    <a href="">Category</a>
    <a href="">Category</a>
    <a href="">Category</a>
    <a href="">Category</a>
    <a href="">Category</a>
    <a href="">Category</a>
    <a href="">Category</a>
    <a href="">Category</a>
    <a href="">Category</a>
    <a href="">Category</a>
</div>